<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mhedit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding_IMHEdit"/>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="webHttpBinding" behaviorConfiguration="JsonBehavior" bindingConfiguration="WebHttpBinding_IMHEdit" contract="MHEditServiceReference.IMHEdit" name="WebHttpBinding_IMHEdit"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
    <userSettings>
        <mhedit.Properties.Settings>
            <setting name="MameExecutable" serializeAs="String">
                <value>c:\mame\mame.exe</value>
            </setting>
            <setting name="MameDriver" serializeAs="String">
                <value>mhavoc</value>
            </setting>
            <setting name="MHPUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MHPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MameDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGridReferences" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MHPKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MHPSavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MameWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemplatesLocation" serializeAs="String">
                <value>.\template</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0, -1, -1</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </mhedit.Properties.Settings>
    </userSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
</startup>
</configuration>
