<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            
            <section name="MajorHavocEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MHavocEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    </appSettings>
    <userSettings>
        
        <MajorHavocEditor.Properties.Settings>
            <setting name="MameExecutable" serializeAs="String">
                <value>c:\hbmame\hbmame64.exe</value>
            </setting>
            <setting name="MameDriver" serializeAs="String">
                <value>mhavocpe</value>
            </setting>
            <setting name="MHPUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MHPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MameDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGridReferences" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MHPKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MHPSavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MameWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemplatesLocation" serializeAs="String">
                <value>.\\template</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MameCommandLineOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastExportLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFileLocation" serializeAs="String">
                <value />
            </setting>
        </MajorHavocEditor.Properties.Settings>
        <MHavocEditor.Properties.Settings>
            <setting name="MameExecutable" serializeAs="String">
                <value>c:\hbmame\hbmame64.exe</value>
            </setting>
            <setting name="MameDriver" serializeAs="String">
                <value>mhavocpex</value>
            </setting>
            <setting name="MHPUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MHPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MameDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGridReferences" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MHPKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MHPSavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MameWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemplatesLocation" serializeAs="String">
                <value>.\\template</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0, -1, -1</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MameCommandLineOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastExportLocation" serializeAs="String">
                <value />
            </setting>
        </MHavocEditor.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
